[Desktop Entry]
Name=Utterly-Round
X-KDE-PluginInfo-Author=Himprakash Deka
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=himprakashd@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=Utterly-Round
X-KDE-PluginInfo-Version=1.2
