.proton_rating_div {
    position: relative;
    float: left;
    margin-top: auto;
    margin-right: 10px;
    margin-left: 2px;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
}

.proton_rating_link {
    position: relative;
    font-size: large;
    font-weight: 100;
    color: black;
}

.proton_rating_link:hover {
    color: black;
}

.proton_platinum {
    background: rgb(180, 199, 220);
    transition: 0.1s;
}

.proton_platinum:hover {
    filter: brightness(110%);
}

.proton_gold {
    background: rgb(207, 181, 59);
    transition: 0.1s;
}

.proton_gold:hover {
    filter: brightness(110%);
}

.proton_silver {
    background: rgb(192, 192, 192);
    transition: 0.1s;
}

.proton_silver:hover {
    filter: brightness(110%);
}

.proton_bronze {
    background: rgb(231, 143, 54);
    transition: 0.1s;
}

.proton_bronze:hover {
    filter: brightness(110%);
}

.proton_borked {
    background: rgb(204, 0, 0);
    transition: 0.1s;
}

.proton_borked:hover {
    filter: brightness(110%);
}

.proton_pending {
    background: grey;
    transition: 0.1s;
}

.proton_pending:hover {
    filter: brightness(110%);
}

.proton_native {
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
    transition: 0.1s;
}

.proton_native:hover {
    filter: brightness(110%);
}

.proton_rating_search {
    float: right !important;
    right: 0;
    top: 0;
    padding: 0px 0.15rem !important;
    margin: 0 !important;
    margin-left: 0.5rem !important;
    position: absolute;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    overflow: hidden;
    width: 0rem !important;
    text-align: center;
    text-indent: 100rem !important;
}

.proton_rating_search:hover {
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    width: 20%!important;
    text-indent: 0vw !important;
}

#global_hover {
    left: 73rem!important;
}

.proton_rating_link_search {
    font-size: large;
    font-weight: 100;
    /* same as steam*/
    line-height: 45px;
}